.container{
    width: 650px;
    height: 600px;
    background-color: aqua;
    margin:120px ;
    position: relative;
}
.box{
    color:white;
    width: 100px;
    height: 100px;

}
.static{
    position: static;
    background-color: black;
}
.rel{
     position: relative;
     background-color: red; 
     /* top:150px; */
    /* left: 0px;
    bottom:px; */
     top:20px;
    left:200px; 

}
.abs{
     position:absolute;
    background-color: blue;
     

}
.fix{
     position: fixed; 
    background-color: brown;
    top:10px;
    left:0;
}
.sti{
     position: sticky; 
    background-color: purple;
    top:20px;
    left:100px;
}