.container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 12px;
     gap:10px

}
.box{
   width: 100px;
   height: 100px;
   background-color: coral;
   display: flex;
    justify-content:center;
    align-items: center;
   
}